
{{> loggedin-header }}
{{#if authenticatedUser.isAdmin}}
    <h1>Admin Dashboard</h1>
    <button><a href="/dashboard/clients">View Clients</a></button>
{{else}}
    {{#unless authenticatedUser.projects}}
        <main class="initial-contact-form">
            {{!-- <section class="top">
                <h3>Request your website</h3>
            </section> --}}
            <h3>Request your website</h3>
            <form class="request-form" action="/dashboard" method="post">
                <label for="title">Title</label>
                <input class="title" type="text" name="title" placeholder="Title">
                
                <label for="details">Details of idea</label>
                <textarea class="details" name="details" cols="15" rows="5" required="true"></textarea>
                
                <label for="colors">Color Scheme</label>
                <input name="colors" placeholder="Any colors in mind?" type="text">

                <label for="inspirations">Inspirational Designs</label>
                <input name="inspirations" placeholder="And inspirational designs, other websites?" type="text">

                <label for="comments">Additional Comments</label>
                <input name="comments" placeholder="Additional Comments/Questions" type="text">

                <label for="timeline">Timeline</label>
                <input type="text" name="timeline" placeholder="When would you like this done by?">

                <label for="budget">Budget</label>
                <input type="text" name="budget" placeholder="What's your budget?">

                <input type="hidden" name="clientId" value="{{ authenticatedUser._id }}"> 

                <button class="white-btn" type="submit">Submit</button>
            </form> 
        </main>  
        {{> basic-footer }} 
    {{else}}
        <main class="client-dashboard">
            <section class="profile-section">
                <i class="fas fa-user-circle"></i>
                <h1>{{authenticatedUser.fullName}}</h1>
                <h6>Account Info</h6>
                <p>{{authenticatedUser.phoneNumber}}</p>
                <p>{{authenticatedUser.email}}</p>
                <button>Update</button>
            </section>
            <section class="project-section">
                <h1>{{project.title}}</h1>
                {{#if project.paymentsDue}}
                    <h1 >Please submit your payment of ${{project.paymentsDue}}</h1>
                    {{!-- <input type="hidden" id="chargeAmount" value={{project.paymentsDue}}> --}}
                    <form action="/dashboard/{{project._id}}/charge" method="POST">
                    <script src="https://checkout.stripe.com/checkout.js"></script>
                        <script
                            src="https://checkout.stripe.com/checkout.js"
                            class="stripe-button"
                            data-key="pk_test_W63C5PiHdw3FSQmvVIrgWo6c"	
                            data-amount="{{project.paymentsDue}}00"
                            data-name="Tech made"
                            data-description="Tech Made website charge"
                            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                            data-locale="auto">
                        </script>
                    </form>
                {{/if}}
                <div id="myProgress">
                    <div id="myBar"></div>
                </div>
                <div class="current-item">
                    <div class="project-tracker">
                        {{#if underReviewStill}}
                            <h3>Your project is currently under review, check back in soon.</h3>
                        {{else}}
                            <h4><strong> Latest Update: </strong>{{latestUpdate.title}}</h4>
                            <p><strong>Update Details: </strong>{{latestUpdate.details}}</p>
                        {{/if}}
                    </div>
                    {{#if underReviewStill}}
                    {{else}}
                    <div class="feedback-box">
                        <button class="feedback-btn">Send Feedback</button>
                        {{!-- <form class="feedback-form" action="/dashboard/{{latestUpdate._id}}/feedback" method="post">
                            <textarea name="feedback" id="" cols="30" rows="10"></textarea>
                            <button type="submit">Submit</button>
                        </form> --}}
                        
                        
                        <p class="latest-feedback-view">Your Feedback</p>
 
                        <div class="current-feedback-view-box">
                            {{#each latestUpdate.feedback}}
                                <p>{{this.feedback}}</p>
                            {{/each}}
                        </div>
                    </div>
                </div>
                {{!-- <section class="previous-updates">
                    {{#each project.updates}}
                        <h6>{{this.title}}</h6>
                        <p>{{this.details}}</p>
                        <h6>Send us your feedback on this update:</h6>
                        <form class="feedback-form" action="/dashboard/{{this._id}}/feedback" method="post">
                            <textarea name="feedback" id="" cols="30" rows="10"></textarea>
                            <button type="submit">Submit</button>
                        </form>
                        {{#each this.feedback}}
                            <p>Youre other feedback:</p>
                            <p>{{this.feedback}}</p>
                        {{/each}}
                    {{/each}}
                </section> --}}
                {{/if}}
                <style>
                    #myProgress {
                        width: 50%;
                        background-color: #ffffff;
                    }

                    #myBar {
                        width: {{project.projectPercentage}}%;
                        height: 30px;
                        background-color: green;
                    }
                </style>
            </section>
        </main>
        {{> basic-footer }}
    {{/unless}}
{{/if}}

{{> scripts }}